.About {
    padding: 150px;
    background-color: aliceblue;
}
.Me {
    text-align: center;
    margin-bottom: 10px;
}

.Me-photo {
    width: 250px; 
    height: 250px;
    border-radius: 50%;
    object-fit: cover; 
    margin-bottom: 10px;
}
